img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 3vh 3vw;
    color: #4B4F59;
}

section.presentation {
    text-align: center;
}

section h1 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

section h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 4vh 0
}

section h3 {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 4vh 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

section a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2vh;
    color: #e50817;
}

.description-cuisine a,
.description-infos a {
    margin: 0;
}

.dessert img {
    padding-top: 4vh;
}

/* ----- CARROUSEL STYLE ----- */

div.slider {
    height: 32vh;
    width: 100%;
    margin: 2vh 0vw;
    position: relative;
}

div.slider img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

div.slider img.active {
    opacity: 1;
}

.next,
.previous {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next {
    right: 1rem;
}

.previous {
    left: 1rem;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    /* ----- SECTION STYLE ----- */

    .restaurant-name {
        font-size: 120px;
    }

    div.description-cuisine .btn {
        margin: 2vh 0;
    }

    div.dessert img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    div.slider {
        height: 50vh;
        width: 100%;
    }

    section.vin div img {
        margin-top: 2vh;
    }

    section.infos {
        display: flex;
        flex-direction: row;
    }

    section.infos div img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    section.infos .description-infos {
        width: 80%;
        margin-left: 3vw;
    }

    .description-infos .btn {
        margin: 2vh 0;
    }
}

@media all and (min-width: 992px) {
    div.buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section {
        padding: 8vh 5vw;
        font-size: 1.2rem;
    }

    .kitchen-picture img {
        height: 55vh;
        width: 100vw;
        object-fit: cover;
    }

    section.cuisine {
        display: flex;
        flex-direction: row;
    }

    div.description-cuisine {
        width: 50%;
        margin-right: 5vw;
    }

    .dessert img {
        height: 84vh;
        width: 47vw;
        object-fit: cover;
        padding: 0;
    }

    div.slider {
        height: 60vh;
        width: 50%;
        transform: translate(50%);
    }

    section.vin {
        display: flex;
        flex-direction: row;
    }

    .description-vin {
        width: 60%;
        margin-right: 3vw;
    }

    section.vin div img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    section.infos {
        display: flex;
        flex-direction: row;
    }

    section.infos div img {
        width: 50vw;
        height: 60vh;
        object-fit: cover;
    }

    section.infos .description-infos {
        width: 60%;
        margin-left: 5vw;
    }
}